.menu {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ec581d;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(226, 146, 85);
  }

  .images {
    width: 280px;
    display: block;
  }

  .row{
display: flex;
width: 100%;
  }

  .first{
    background-color: #f5cdbd;
    color:black;
    margin:50px;
    padding: 55px;
    width: 33.33%;
    text-align: center;
    display:inline-block;
  }

  .second{
    background-color: #f5cdbd;
    color:black;
    margin:50px;
    padding: 55px;
    width: 33.33%;
    text-align: center;
    vertical-align: middle;
    display:inline-block;
  }

  .third{
    background-color: #f5cdbd;
    color:black;
    margin:50px;
    padding: 55px;
    width: 33.33%;
    text-align: center;
    display:inline-block;
  }

  